img {
  text-indent: -10000px;
}

* {
  touch-action: none;
}

body.squircle * {
  border-radius: 0px !important;
  --squircle-smooth: 0.3;
}

:root {
  /* Color styles */
  --colors-red: rgba(255, 59, 48, 1);
  --colors-red-dark: rgba(255, 69, 58, 1);
  --colors-orange: rgba(255, 149, 0, 1);
  --colors-orange-dark: rgba(255, 159, 10, 1);
  --colors-yellow: rgba(255, 204, 0, 1);
  --colors-yellow-dark: rgba(255, 214, 10, 1);
  --colors-green: rgba(52, 199, 89, 1);
  --colors-green-dark: rgba(48, 209, 88, 1);
  --colors-mint: rgba(0, 199, 190, 1);
  --colors-mint-dark: rgba(99, 230, 226, 1);
  --colors-teal: rgba(48, 176, 199, 1);
  --colors-teal-dark: rgba(64, 203, 224, 1);
  --colors-cyan: rgba(50, 173, 230, 1);
  --colors-cyan-dark: rgba(100, 210, 255, 1);
  --colors-blue: rgba(0, 122, 255, 1);
  --colors-blue-dark: rgba(10, 132, 255, 1);
  --colors-indigo: rgba(88, 86, 214, 1);
  --colors-indigo-dark: rgba(94, 92, 230, 1);
  --colors-purple: rgba(175, 82, 222, 1);
  --colors-purple-dark: rgba(191, 90, 242, 1);
  --colors-pink: rgba(255, 45, 85, 1);
  --colors-pink-dark: rgba(255, 55, 95, 1);
  --colors-brown: rgba(162, 132, 94, 1);
  --colors-brown-dark: rgba(172, 142, 104, 1);
  --labels-primary: rgba(0, 0, 0, 1);
  --labels-secondary: rgba(60, 60, 67, 0.6000000238418579);
  --labels-tertiary: rgba(60, 60, 67, 0.30000001192092896);
  --labels-quaternary: rgba(60, 60, 67, 0.18000000715255737);
  --labels-primary-dark: rgba(255, 255, 255, 1);
  --labels-secondary-dark: rgba(235, 235, 245, 0.6000000238418579);
  --labels-tertiary-dark: rgba(235, 235, 245, 0.30000001192092896);
  --labels-quaternary-dark: rgba(235, 235, 245, 0.1599999964237213);
  --labels-vibrant-primary: rgba(0, 0, 0, 1);
  --labels-vibrant-secondary: rgba(127, 127, 127, 0.5);
  --labels-vibrant-tertiary: rgba(127, 127, 127, 0.4000000059604645);
  --labels-vibrant-quaternary: rgba(127, 127, 127, 0.20000000298023224);
  --labels-vibrant-primary-dark: rgba(255, 255, 255, 1);
  --labels-vibrant-secondary-dark: rgba(127, 127, 127, 0.5);
  --labels-vibrant-tertiary-dark: rgba(127, 127, 127, 0.4000000059604645);
  --labels-vibrant-quaternary-dark: rgba(127, 127, 127, 0.20000000298023224);
  --grays-gray: rgba(142, 142, 147, 1);
  --grays-gray-dark: rgba(142, 142, 147, 1);
  --grays-gray-2: rgba(174, 174, 178, 1);
  --grays-gray-2-dark: rgba(99, 99, 102, 1);
  --grays-gray-3: rgba(199, 199, 204, 1);
  --grays-gray-3-dark: rgba(72, 72, 74, 1);
  --grays-gray-4: rgba(209, 209, 214, 1);
  --grays-gray-4-dark: rgba(58, 58, 60, 1);
  --grays-gray-5: rgba(229, 229, 234, 1);
  --grays-gray-5-dark: rgba(44, 44, 46, 1);
  --grays-gray-6: rgba(242, 242, 247, 1);
  --grays-gray-6-dark: rgba(28, 28, 30, 1);
  --grays-black: rgba(0, 0, 0, 1);
  --grays-black-dark: rgba(0, 0, 0, 1);
  --grays-white: rgba(255, 255, 255, 1);
  --grays-white-dark: rgba(255, 255, 255, 1);
  --b-g-primary: rgba(255, 255, 255, 1);
  --b-g-secondary: rgba(242, 242, 247, 1);
  --b-g-tertiary: rgba(255, 255, 255, 1);
  --b-g-primary-dark-elevated: rgba(28, 28, 30, 1);
  --b-g-secondary-dark-elevated: rgba(44, 44, 46, 1);
  --b-g-tertiary-dark-elevated: rgba(58, 58, 60, 1);
  --b-g-primary-dark-base: rgba(0, 0, 0, 1);
  --b-g-secondary-dark-base: rgba(28, 28, 30, 1);
  --b-g-tertiary-dark-base: rgba(44, 44, 46, 1);
  --b-g-grouped-primary: rgba(242, 242, 247, 1);
  --b-g-grouped-secondary: rgba(255, 255, 255, 1);
  --b-g-grouped-tertiary: rgba(242, 242, 247, 1);
  --b-g-grouped-primary-dark-elevated: rgba(28, 28, 30, 1);
  --b-g-grouped-secondary-dark-elevated: rgba(44, 44, 46, 1);
  --b-g-grouped-tertiary-dark-elevated: rgba(58, 58, 60, 1);
  --b-g-grouped-primary-dark-base: rgba(0, 0, 0, 1);
  --b-g-grouped-secondary-dark-base: rgba(28, 28, 30, 1);
  --b-g-grouped-tertiary-dark-base: rgba(44, 44, 46, 1);
  --fills-primary: rgba(120, 120, 128, 0.20000000298023224);
  --fills-secondary: rgba(120, 120, 128, 0.1599999964237213);
  --fills-tertiary: rgba(118, 118, 128, 0.11999999731779099);
  --fills-quaternary: rgba(116, 116, 128, 0.07999999821186066);
  --fills-primary-dark: rgba(120, 120, 128, 0.36000001430511475);
  --fills-secondary-dark: rgba(120, 120, 128, 0.3199999928474426);
  --fills-tertiary-dark: rgba(118, 118, 128, 0.23999999463558197);
  --fills-quaternary-dark: rgba(116, 116, 128, 0.18000000715255737);
  --fills-vibrant-primary: rgba(127, 127, 127, 0.5);
  --fills-vibrant-secondary: rgba(127, 127, 127, 0.4000000059604645);
  --fills-vibrant-tertiary: rgba(127, 127, 127, 0.20000000298023224);
  --fills-vibrant-primary-dark: rgba(127, 127, 127, 0.5);
  --fills-vibrant-secondary-dark: rgba(127, 127, 127, 0.4000000059604645);
  --fills-vibrant-tertiary-dark: rgba(127, 127, 127, 0.20000000298023224);
  --separators-opaque: rgba(198, 198, 200, 1);
  --separators-non-opaque: rgba(60, 60, 67, 0.36000001430511475);
  --separators-opaque-dark: rgba(56, 56, 58, 1);
  --separators-non-opaque-dark: rgba(84, 84, 88, 0.6499999761581421);
  --materials-thick: rgba(153, 153, 153, 0.9700000286102295);
  --materials-regular: rgba(179, 179, 179, 0.8199999928474426);
  --materials-thin: rgba(166, 166, 166, 0.699999988079071);
  --materials-ultrathin: rgba(191, 191, 191, 0.4399999976158142);
  --materials-chrome: rgba(255, 255, 255, 0.75);
  --materials-thick-dark: rgba(37, 37, 37, 0.8999999761581421);
  --materials-regular-dark: rgba(37, 37, 37, 0.8199999928474426);
  --materials-thin-dark: rgba(37, 37, 37, 0.699999988079071);
  --materials-ultrathin-dark: rgba(37, 37, 37, 0.550000011920929);
  --materials-chrome-dark: rgba(0, 0, 0, 0.75);
  --template-sheet-fill: rgba(204, 204, 204, 1);
  --template-component-fill: rgba(128, 128, 128, 0.30000001192092896);
  --template-subcomponent-fill: rgba(0, 122, 255, 0.30000001192092896);
  --template-submcomponent-stroke: rgba(0, 122, 255, 1);
}

.C_ELEMENT {
  position: relative;
  padding: 0px;
  margin: 0px;
}

/*MATERIALS*/
/*APPICON*/
.C_ELEMENT.APPICON {
  z-index: 1;
  position: absolute;
  width: var(--icon-size);
  height: calc(var(--icon-size) + 20px);
  /*filter: drop-shadow(0px 0.5px 2px rgb(0, 0, 0, 0.25));*/
}
.C_ELEMENT.APPICON.hold {
  pointer-events: none !important;
}
.C_ELEMENT.APPICON.hold p.STRING {
  animation: hidepstring 0.2s forwards;
}
@keyframes hidepstring {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.C_ELEMENT.APPICON.hold img.ICON {
  filter: brightness(1) !important;
  transform: scale(1.2);
}
.C_ELEMENT.APPICON:not(#pages.scrollHelper .APPICON) {
  left: 0px;
  top: 0px;
}
.C_ELEMENT.APPICON:not(#pages.scrollHelper .APPICON).anim {
  transition: var(--basic-animation);
}
body.appinfoview .C_ELEMENT.APPICON:not(#pages.scrollHelper .APPICON) {
  z-index: 11;
}
.C_ELEMENT.APPICON > img.ICON {
  -webkit-mask: url(../assets/drawable/frame.svg) center/100% 100% no-repeat;
  mask: url(../assets/drawable/frame.svg) center/100% 100% no-repeat;
  position: absolute;
  left: 0px;
  width: var(--icon-size);
  height: var(--icon-size);
  background: white var(--background);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 10px black;
}
.C_ELEMENT.APPICON > img.ICON.active {
  filter: brightness(0.6);
  animation: iconhover 0.5s 0.1s ease-in forwards;
}
.C_ELEMENT.APPICON > img.ICON:not(.active).cancelled {
  transition: filter 0.5;
  filter: brightness(1);
  animation: iconnotactivefade 0.5s;
}
@keyframes iconnotactivefade {
  from {
    filter: brightness(0.6);
  }
  to {
    filter: brightness(1);
  }
}
.C_ELEMENT.APPICON > img.ICON.info {
  z-index: 11;
  animation: iconinfo 0.3s 0.1s cubic-bezier(0.95, 4, 0.2, 1) forwards;
}
@keyframes iconhover {
  0% {
    transform: scale(1);
  }
  39% {
    filter: brightness(0.6);
  }
  87% {
    filter: brightness(1);
  }
  100% {
    transform: scale(1.2);
    filter: brightness(1);
  }
}
@keyframes iconinfo {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes iconinfoexit {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.C_ELEMENT.APPICON > P.STRING {
  transition: 0.5s;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 0px;
  max-width: var(--icon-size);
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-overflow: ellipsis;
  font-size: 12px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-weight: 350;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#dock .C_ELEMENT.APPICON > P.STRING {
  display: none;
}
.C_ELEMENT.APPINFOTRANSLUCENTLAYER {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  animation: aitl_enter 0.2s 0.1s ease-out forwards;
  --backdrop-filter: blur(11px) saturate(1.2);
  --background-color: rgba(19, 19, 38, 0.3);
  /*
      @media (prefers-color-scheme: light) {
        & {
          --background-color: rgba(3, 3, 3, 0.3);
        }
      }
      @media (prefers-color-scheme: dark) {
        & {

        }
      }
  */
}
body.TABLET_VIEW .C_ELEMENT.APPINFOTRANSLUCENTLAYER {
  --backdrop-filter: none !important;
  --background-color: rgb(0, 0, 0, 0.2) !important;
}
@keyframes aitl_enter {
  from {
    backdrop-filter: blur(0px) saturate(1);
    background: transparent;
  }
  to {
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--background-color);
  }
}
@keyframes aitl_exit {
  from {
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--background-color);
  }
  to {
    backdrop-filter: blur(0px) saturate(1);
    background: transparent;
  }
}
.C_ELEMENT.APPINFOCONTEXTMENU {
  width: 228px;
  position: absolute;
  z-index: 10;
  backdrop-filter: blur(50px) saturate(2);
  border-radius: 12px !important;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.9);
  --scale: 1;
  --translate: 0px, 0px;
  transform: scale(var(--scale)) translate(var(--translate));
  background: rgba(250, 250, 250, 0.8);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (prefers-color-scheme: dark) {
  .C_ELEMENT.APPINFOCONTEXTMENU {
    background: rgba(37, 37, 37, 0.8);
    color: rgba(255, 255, 255, 0.9);
  }
}
.C_ELEMENT.APPINFOCONTEXTMENU.open {
  animation: appinfocontextmenuopen var(--jumpanim) 0.4s;
}
@keyframes appinfocontextmenuopen {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(var(--scale)) translate(var(--translate));
    opacity: 1;
  }
}
.C_ELEMENT.APPINFOCONTEXTMENU.close {
  animation: appinfocontextmenuclose var(--jumpanim) 0.3s forwards;
}
@keyframes appinfocontextmenuclose {
  from {
    transform: scale(var(--scale)) translate(var(--translate));
    opacity: 1;
  }
  to {
    transform: scale(0) translate(var(--translate));
    opacity: 0;
  }
}
body.TABLET_VIEW .C_ELEMENT.APPINFOCONTEXTMENU {
  width: 250px;
}
.C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM {
  transition: 0.5s;
  width: 100%;
  height: 44px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1) !important;
}
.C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM:active, .C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM.active {
  transition: 0s;
  background: rgba(255, 255, 255, 0.1) !important;
  box-shadow: none !important;
}
@media (prefers-color-scheme: light) {
  .C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM:active, .C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM.active {
    background: rgba(0, 0, 0, 0.1) !important;
  }
}
.C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM.s {
  transition: 0s !important;
}
.C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM p.APPINFOCONTEXTMENUITEMTITLE {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM p.APPINFOCONTEXTMENUITEMTITLE.accent {
  color: var(--colors-red);
}
@media (prefers-color-scheme: dark) {
  .C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM p.APPINFOCONTEXTMENUITEMTITLE.accent {
    color: var(--colors-red-dark);
  }
}
.C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM p.APPINFOCONTEXTMENUITEM {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
@media (prefers-color-scheme: light) {
  .C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1) !important;
  }
}
.C_ELEMENT.APPINFOCONTEXTMENU div.APPINFOCONTEXTMENUITEM:last-child {
  box-shadow: none !important;
}

body.TABLET_VIEW #innerapp {
  transform: none !important;
}

body > div.C_ELEMENT.APPICON > P.STRING {
  display: none;
}

/*
.C_ELEMENT.APPINFOTRANSLUCENTLAYER {
  backdrop-filter: none !important;
  opacity: 0;
}
*/
:root {
  --icon-size: 60px;
  --window-inset-left: 0px;
  --window-inset-top: 0px;
  --window-inset-right: 0px;
  --window-inset-bottom: 0px;
}

* {
  user-select: none;
  user-drag: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body .theme-b {
  background: #447;
  color: #bbd;
}
@media (prefers-color-scheme: light) {
  body #dock,
  body #dockBg {
    backdrop-filter: blur(50px) saturate(1.5);
    background-color: rgba(245, 245, 245, 0.36);
  }
}
@media (prefers-color-scheme: dark) {
  body #dock,
  body #dockBg {
    backdrop-filter: blur(50px) saturate(1.5);
    background-color: rgba(45, 45, 45, 0.36);
  }
}

body #dock {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 100px;
  z-index: 5;
}
body #pages-wrapper {
  display: block;
  height: calc(100% - 100px);
  height: 100%;
  min-height: 575px;
  overflow: hidden;
}
body #pages {
  will-change: transform !important;
  position: relative;
  left: 0px;
  top: 0px;
  display: block;
  width: max-content;
  float: left;
  height: 100% !important;
  /* snap */
  scroll-snap-type: x mandatory;
}
body #pages.scrollHelper {
  will-change: transform;
}
body #pages div.C_ELEMENT.PAGEGRID {
  float: left;
  position: relative;
  display: inline-block;
  width: var(--screen-width);
  height: 100%;
  scroll-snap-align: center;
}
body.nestedDock #dock {
  background: transparent !important;
  backdrop-filter: unset !important;
  mask: none !important;
}
body.nestedDock #dockBg {
  display: block !important;
}
body.nestedDock.TABLET_VIEW #dock {
  bottom: 10px;
}
body.nestedDock.TABLET_VIEW #dockBg {
  height: 114px;
}
body.nestedDock:not(.TABLET_VIEW) #dock {
  bottom: 0px !important;
}
body #dockBg {
  display: none;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100px;
  z-index: 4;
}
body.TABLET_VIEW {
  --screenradius: 26px;
  --homepage-grid-x: 5;
  --homepage-grid-y: 6;
}
@media (orientation: landscape) {
  body.TABLET_VIEW :root {
    --homepage-grid-x: 6;
    --homepage-grid-y: 5;
  }
}
body.TABLET_VIEW.squircle #dock {
  --squircle-radius: 20px;
  mask-image: paint(squircle);
}
body.TABLET_VIEW #dock {
  bottom: calc(20px + var(--window-inset-bottom));
  border-radius: 28px;
  height: 94px;
  left: 50%;
  min-width: 325px;
  transform: translateX(-50%);
}
body.TABLET_VIEW #pages {
  height: calc(100% - 192px);
}
body:not(.TABLET_VIEW) {
  --screenradius: 56px;
  --homepage-grid-x: 4;
  --homepage-grid-y: 6;
}
body:not(.TABLET_VIEW).squircle #dock {
  --squircle-radius: calc(var(--screenradius) - 12px);
  mask-image: paint(squircle);
}
body:not(.TABLET_VIEW) #dock {
  bottom: calc(12px + var(--window-inset-bottom));
  left: 12px;
  width: calc(100% - 24px);
  height: 98px;
  border-radius: calc(var(--screenradius) - 12px);
}
body:not(.TABLET_VIEW) #pages {
  height: calc(100% - 192px);
}

/*
*{
  filter: none !important;
  backdrop-filter:  none !important;
}
#system_wallpaper{
display: none;
}*/
#innerapp {
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
body.appinfoview #innerapp {
  transition: 0.2s 0.1s ease-out;
  transform: scale(0.96);
}
body:not(.appinfoview) #innerapp {
  transition: 0.2s ease-in-out;
  transform: scale(1);
}

#loader.hide {
  pointer-events: none;
  animation: 0.3s loaderhidefadeout forwards;
}
@keyframes loaderhidefadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter.ttf);
}
:root {
  --basic-animation: 500ms ease-out;
  --jumpanim: cubic-bezier(0.33, 1.27, 0.41, 1);
  --jump2anim: cubic-bezier(0.3, 2, 0.4, 1);
  --jump3anim: cubic-bezier(0.3, 1.5, 0.5, 1);
}

.hey .hey {
  padding: auto;
}

html,
body {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#system_wallpaper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
