@function autoColor($media-preference) {
  @if $media-preference == dark {
    @return '-dark';
  } @else {
    @return '';
  }
}


:root {
  /* Color styles */
  --colors-red: rgba(255, 59, 48, 1);
  --colors-red-dark: rgba(255, 69, 58, 1);
  --colors-orange: rgba(255, 149, 0, 1);
  --colors-orange-dark: rgba(255, 159, 10, 1);
  --colors-yellow: rgba(255, 204, 0, 1);
  --colors-yellow-dark: rgba(255, 214, 10, 1);
  --colors-green: rgba(52, 199, 89, 1);
  --colors-green-dark: rgba(48, 209, 88, 1);
  --colors-mint: rgba(0, 199, 190, 1);
  --colors-mint-dark: rgba(99, 230, 226, 1);
  --colors-teal: rgba(48, 176, 199, 1);
  --colors-teal-dark: rgba(64, 203, 224, 1);
  --colors-cyan: rgba(50, 173, 230, 1);
  --colors-cyan-dark: rgba(100, 210, 255, 1);
  --colors-blue: rgba(0, 122, 255, 1);
  --colors-blue-dark: rgba(10, 132, 255, 1);
  --colors-indigo: rgba(88, 86, 214, 1);
  --colors-indigo-dark: rgba(94, 92, 230, 1);
  --colors-purple: rgba(175, 82, 222, 1);
  --colors-purple-dark: rgba(191, 90, 242, 1);
  --colors-pink: rgba(255, 45, 85, 1);
  --colors-pink-dark: rgba(255, 55, 95, 1);
  --colors-brown: rgba(162, 132, 94, 1);
  --colors-brown-dark: rgba(172, 142, 104, 1);
  --labels-primary: rgba(0, 0, 0, 1);
  --labels-secondary: rgba(60, 60, 67, 0.6000000238418579);
  --labels-tertiary: rgba(60, 60, 67, 0.30000001192092896);
  --labels-quaternary: rgba(60, 60, 67, 0.18000000715255737);
  --labels-primary-dark: rgba(255, 255, 255, 1);
  --labels-secondary-dark: rgba(235, 235, 245, 0.6000000238418579);
  --labels-tertiary-dark: rgba(235, 235, 245, 0.30000001192092896);
  --labels-quaternary-dark: rgba(235, 235, 245, 0.1599999964237213);
  --labels-vibrant-primary: rgba(0, 0, 0, 1);
  --labels-vibrant-secondary: rgba(127, 127, 127, 0.5);
  --labels-vibrant-tertiary: rgba(127, 127, 127, 0.4000000059604645);
  --labels-vibrant-quaternary: rgba(127, 127, 127, 0.20000000298023224);
  --labels-vibrant-primary-dark: rgba(255, 255, 255, 1);
  --labels-vibrant-secondary-dark: rgba(127, 127, 127, 0.5);
  --labels-vibrant-tertiary-dark: rgba(127, 127, 127, 0.4000000059604645);
  --labels-vibrant-quaternary-dark: rgba(127, 127, 127, 0.20000000298023224);
  --grays-gray: rgba(142, 142, 147, 1);
  --grays-gray-dark: rgba(142, 142, 147, 1);
  --grays-gray-2: rgba(174, 174, 178, 1);
  --grays-gray-2-dark: rgba(99, 99, 102, 1);
  --grays-gray-3: rgba(199, 199, 204, 1);
  --grays-gray-3-dark: rgba(72, 72, 74, 1);
  --grays-gray-4: rgba(209, 209, 214, 1);
  --grays-gray-4-dark: rgba(58, 58, 60, 1);
  --grays-gray-5: rgba(229, 229, 234, 1);
  --grays-gray-5-dark: rgba(44, 44, 46, 1);
  --grays-gray-6: rgba(242, 242, 247, 1);
  --grays-gray-6-dark: rgba(28, 28, 30, 1);
  --grays-black: rgba(0, 0, 0, 1);
  --grays-black-dark: rgba(0, 0, 0, 1);
  --grays-white: rgba(255, 255, 255, 1);
  --grays-white-dark: rgba(255, 255, 255, 1);
  --b-g-primary: rgba(255, 255, 255, 1);
  --b-g-secondary: rgba(242, 242, 247, 1);
  --b-g-tertiary: rgba(255, 255, 255, 1);
  --b-g-primary-dark-elevated: rgba(28, 28, 30, 1);
  --b-g-secondary-dark-elevated: rgba(44, 44, 46, 1);
  --b-g-tertiary-dark-elevated: rgba(58, 58, 60, 1);
  --b-g-primary-dark-base: rgba(0, 0, 0, 1);
  --b-g-secondary-dark-base: rgba(28, 28, 30, 1);
  --b-g-tertiary-dark-base: rgba(44, 44, 46, 1);
  --b-g-grouped-primary: rgba(242, 242, 247, 1);
  --b-g-grouped-secondary: rgba(255, 255, 255, 1);
  --b-g-grouped-tertiary: rgba(242, 242, 247, 1);
  --b-g-grouped-primary-dark-elevated: rgba(28, 28, 30, 1);
  --b-g-grouped-secondary-dark-elevated: rgba(44, 44, 46, 1);
  --b-g-grouped-tertiary-dark-elevated: rgba(58, 58, 60, 1);
  --b-g-grouped-primary-dark-base: rgba(0, 0, 0, 1);
  --b-g-grouped-secondary-dark-base: rgba(28, 28, 30, 1);
  --b-g-grouped-tertiary-dark-base: rgba(44, 44, 46, 1);
  --fills-primary: rgba(120, 120, 128, 0.20000000298023224);
  --fills-secondary: rgba(120, 120, 128, 0.1599999964237213);
  --fills-tertiary: rgba(118, 118, 128, 0.11999999731779099);
  --fills-quaternary: rgba(116, 116, 128, 0.07999999821186066);
  --fills-primary-dark: rgba(120, 120, 128, 0.36000001430511475);
  --fills-secondary-dark: rgba(120, 120, 128, 0.3199999928474426);
  --fills-tertiary-dark: rgba(118, 118, 128, 0.23999999463558197);
  --fills-quaternary-dark: rgba(116, 116, 128, 0.18000000715255737);
  --fills-vibrant-primary: rgba(127, 127, 127, 0.5);
  --fills-vibrant-secondary: rgba(127, 127, 127, 0.4000000059604645);
  --fills-vibrant-tertiary: rgba(127, 127, 127, 0.20000000298023224);
  --fills-vibrant-primary-dark: rgba(127, 127, 127, 0.5);
  --fills-vibrant-secondary-dark: rgba(127, 127, 127, 0.4000000059604645);
  --fills-vibrant-tertiary-dark: rgba(127, 127, 127, 0.20000000298023224);
  --separators-opaque: rgba(198, 198, 200, 1);
  --separators-non-opaque: rgba(60, 60, 67, 0.36000001430511475);
  --separators-opaque-dark: rgba(56, 56, 58, 1);
  --separators-non-opaque-dark: rgba(84, 84, 88, 0.6499999761581421);
  --materials-thick: rgba(153, 153, 153, 0.9700000286102295);
  --materials-regular: rgba(179, 179, 179, 0.8199999928474426);
  --materials-thin: rgba(166, 166, 166, 0.699999988079071);
  --materials-ultrathin: rgba(191, 191, 191, 0.4399999976158142);
  --materials-chrome: rgba(255, 255, 255, 0.75);
  --materials-thick-dark: rgba(37, 37, 37, 0.8999999761581421);
  --materials-regular-dark: rgba(37, 37, 37, 0.8199999928474426);
  --materials-thin-dark: rgba(37, 37, 37, 0.699999988079071);
  --materials-ultrathin-dark: rgba(37, 37, 37, 0.550000011920929);
  --materials-chrome-dark: rgba(0, 0, 0, 0.75);
  --template-sheet-fill: rgba(204, 204, 204, 1);
  --template-component-fill: rgba(128, 128, 128, 0.30000001192092896);
  --template-subcomponent-fill: rgba(0, 122, 255, 0.30000001192092896);
  --template-submcomponent-stroke: rgba(0, 122, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Update dark mode color variables */
    --colors-red-auto: var(--colors-red-dark);
    --colors-orange-auto: var(--colors-orange-dark);
    --colors-yellow-auto: var(--colors-yellow-dark);
    --colors-green-auto: var(--colors-green-dark);
    --colors-mint-auto: var(--colors-mint-dark);
    --colors-teal-auto: var(--colors-teal-dark);
    --colors-cyan-auto: var(--colors-cyan-dark);
    --colors-blue-auto: var(--colors-blue-dark);
    --colors-indigo-auto: var(--colors-indigo-dark);
    --colors-purple-auto: var(--colors-purple-dark);
    --colors-pink-auto: var(--colors-pink-dark);
    --colors-brown-auto: var(--colors-brown-dark);
    --labels-primary-auto: var(--labels-primary-dark);
    --labels-secondary-auto: var(--labels-secondary-dark);
    --labels-tertiary-auto: var(--labels-tertiary-dark);
    --labels-quaternary-auto: var(--labels-quaternary-dark);
    --labels-vibrant-primary-auto: var(--labels-vibrant-primary-dark);
    --labels-vibrant-secondary-auto: var(--labels-vibrant-secondary-dark);
    --labels-vibrant-tertiary-auto: var(--labels-vibrant-tertiary-dark);
    --labels-vibrant-quaternary-auto: var(--labels-vibrant-quaternary-dark);
    --grays-gray-auto: var(--grays-gray-dark);
    --grays-gray-2-auto: var(--grays-gray-2-dark);
    --grays-gray-3-auto: var(--grays-gray-3-dark);
    --grays-gray-4-auto: var(--grays-gray-4-dark);
    --grays-gray-5-auto: var(--grays-gray-5-dark);
    --grays-gray-6-auto: var(--grays-gray-6-dark);
    --grays-black-auto: var(--grays-black-dark);
    --grays-white-auto: var(--grays-white-dark);
    --fills-primary-auto: var(--fills-primary-dark);
    --fills-secondary-auto: var(--fills-secondary-dark);
    --fills-tertiary-auto: var(--fills-tertiary-dark);
    --fills-quaternary-auto: var(--fills-quaternary-dark);
    --fills-vibrant-primary-auto: var(--fills-vibrant-primary-dark);
    --fills-vibrant-secondary-auto: var(--fills-vibrant-secondary-dark);
    --fills-vibrant-tertiary-auto: var(--fills-vibrant-tertiary-dark);
    --separators-opaque-auto: var(--separators-opaque-dark);
    --separators-non-opaque-auto: var(--separators-non-opaque-dark);
    --materials-thick-auto: var(--materials-thick-dark);
    --materials-regular-auto: var(--materials-regular-dark);
    --materials-thin-auto: var(--materials-thin-dark);
    --materials-ultrathin-auto: var(--materials-ultrathin-dark);
    --materials-chrome-auto: var(--materials-chrome-dark);
    --template-sheet-fill-auto: var(--template-sheet-fill-dark);
    --template-component-fill-auto: var(--template-component-fill-dark);
    --template-subcomponent-fill-auto: var(--template-subcomponent-fill-dark);
    --template-submcomponent-stroke-auto: var(--template-submcomponent-stroke-dark);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --colors-red-auto: var(--colors-red);
    --colors-orange-auto: var(--colors-orange);
    --colors-yellow-auto: var(--colors-yellow);
    --colors-green-auto: var(--colors-green);
    --colors-mint-auto: var(--colors-mint);
    --colors-teal-auto: var(--colors-teal);
    --colors-cyan-auto: var(--colors-cyan);
    --colors-blue-auto: var(--colors-blue);
    --colors-indigo-auto: var(--colors-indigo);
    --colors-purple-auto: var(--colors-purple);
    --colors-pink-auto: var(--colors-pink);
    --colors-brown-auto: var(--colors-brown);
    --labels-primary-auto: var(--labels-primary);
    --labels-secondary-auto: var(--labels-secondary);
    --labels-tertiary-auto: var(--labels-tertiary);
    --labels-quaternary-auto: var(--labels-quaternary);
    --labels-vibrant-primary-auto: var(--labels-vibrant-primary);
    --labels-vibrant-secondary-auto: var(--labels-vibrant-secondary);
    --labels-vibrant-tertiary-auto: var(--labels-vibrant-tertiary);
    --labels-vibrant-quaternary-auto: var(--labels-vibrant-quaternary);
    --grays-gray-auto: var(--grays-gray);
    --grays-gray-2-auto: var(--grays-gray-2);
    --grays-gray-3-auto: var(--grays-gray-3);
    --grays-gray-4-auto: var(--grays-gray-4);
    --grays-gray-5-auto: var(--grays-gray-5);
    --grays-gray-6-auto: var(--grays-gray-6);
    --grays-black-auto: var(--grays-black);
    --grays-white-auto: var(--grays-white);
    --fills-primary-auto: var(--fills-primary);
    --fills-secondary-auto: var(--fills-secondary);
    --fills-tertiary-auto: var(--fills-tertiary);
    --fills-quaternary-auto: var(--fills-quaternary);
    --fills-vibrant-primary-auto: var(--fills-vibrant-primary);
    --fills-vibrant-secondary-auto: var(--fills-vibrant-secondary);
    --fills-vibrant-tertiary-auto: var(--fills-vibrant-tertiary);
    --separators-opaque-auto: var(--separators-opaque);
    --separators-non-opaque-auto: var(--separators-non-opaque);
    --materials-thick-auto: var(--materials-thick);
    --materials-regular-auto: var(--materials-regular);
    --materials-thin-auto: var(--materials-thin);
    --materials-ultrathin-auto: var(--materials-ultrathin);
    --materials-chrome-auto: var(--materials-chrome);
    --template-sheet-fill-auto: var(--template-sheet-fill);
    --template-component-fill-auto: var(--template-component-fill);
    --template-subcomponent-fill-auto: var(--template-subcomponent-fill);
    --template-submcomponent-stroke-auto: var(--template-submcomponent-stroke);
  }
}