:root {
  /* Color styles */
  --colors-red: rgba(255, 59, 48, 1);
  --colors-red-dark: rgba(255, 69, 58, 1);
  --colors-orange: rgba(255, 149, 0, 1);
  --colors-orange-dark: rgba(255, 159, 10, 1);
  --colors-yellow: rgba(255, 204, 0, 1);
  --colors-yellow-dark: rgba(255, 214, 10, 1);
  --colors-green: rgba(52, 199, 89, 1);
  --colors-green-dark: rgba(48, 209, 88, 1);
  --colors-mint: rgba(0, 199, 190, 1);
  --colors-mint-dark: rgba(99, 230, 226, 1);
  --colors-teal: rgba(48, 176, 199, 1);
  --colors-teal-dark: rgba(64, 203, 224, 1);
  --colors-cyan: rgba(50, 173, 230, 1);
  --colors-cyan-dark: rgba(100, 210, 255, 1);
  --colors-blue: rgba(0, 122, 255, 1);
  --colors-blue-dark: rgba(10, 132, 255, 1);
  --colors-indigo: rgba(88, 86, 214, 1);
  --colors-indigo-dark: rgba(94, 92, 230, 1);
  --colors-purple: rgba(175, 82, 222, 1);
  --colors-purple-dark: rgba(191, 90, 242, 1);
  --colors-pink: rgba(255, 45, 85, 1);
  --colors-pink-dark: rgba(255, 55, 95, 1);
  --colors-brown: rgba(162, 132, 94, 1);
  --colors-brown-dark: rgba(172, 142, 104, 1);
  --labels-primary: rgba(0, 0, 0, 1);
  --labels-secondary: rgba(60, 60, 67, 0.6000000238418579);
  --labels-tertiary: rgba(60, 60, 67, 0.30000001192092896);
  --labels-quaternary: rgba(60, 60, 67, 0.18000000715255737);
  --labels-primary-dark: rgba(255, 255, 255, 1);
  --labels-secondary-dark: rgba(235, 235, 245, 0.6000000238418579);
  --labels-tertiary-dark: rgba(235, 235, 245, 0.30000001192092896);
  --labels-quaternary-dark: rgba(235, 235, 245, 0.1599999964237213);
  --labels-vibrant-primary: rgba(0, 0, 0, 1);
  --labels-vibrant-secondary: rgba(127, 127, 127, 0.5);
  --labels-vibrant-tertiary: rgba(127, 127, 127, 0.4000000059604645);
  --labels-vibrant-quaternary: rgba(127, 127, 127, 0.20000000298023224);
  --labels-vibrant-primary-dark: rgba(255, 255, 255, 1);
  --labels-vibrant-secondary-dark: rgba(127, 127, 127, 0.5);
  --labels-vibrant-tertiary-dark: rgba(127, 127, 127, 0.4000000059604645);
  --labels-vibrant-quaternary-dark: rgba(127, 127, 127, 0.20000000298023224);
  --grays-gray: rgba(142, 142, 147, 1);
  --grays-gray-dark: rgba(142, 142, 147, 1);
  --grays-gray-2: rgba(174, 174, 178, 1);
  --grays-gray-2-dark: rgba(99, 99, 102, 1);
  --grays-gray-3: rgba(199, 199, 204, 1);
  --grays-gray-3-dark: rgba(72, 72, 74, 1);
  --grays-gray-4: rgba(209, 209, 214, 1);
  --grays-gray-4-dark: rgba(58, 58, 60, 1);
  --grays-gray-5: rgba(229, 229, 234, 1);
  --grays-gray-5-dark: rgba(44, 44, 46, 1);
  --grays-gray-6: rgba(242, 242, 247, 1);
  --grays-gray-6-dark: rgba(28, 28, 30, 1);
  --grays-black: rgba(0, 0, 0, 1);
  --grays-black-dark: rgba(0, 0, 0, 1);
  --grays-white: rgba(255, 255, 255, 1);
  --grays-white-dark: rgba(255, 255, 255, 1);
  --b-g-primary: rgba(255, 255, 255, 1);
  --b-g-secondary: rgba(242, 242, 247, 1);
  --b-g-tertiary: rgba(255, 255, 255, 1);
  --b-g-primary-dark-elevated: rgba(28, 28, 30, 1);
  --b-g-secondary-dark-elevated: rgba(44, 44, 46, 1);
  --b-g-tertiary-dark-elevated: rgba(58, 58, 60, 1);
  --b-g-primary-dark-base: rgba(0, 0, 0, 1);
  --b-g-secondary-dark-base: rgba(28, 28, 30, 1);
  --b-g-tertiary-dark-base: rgba(44, 44, 46, 1);
  --b-g-grouped-primary: rgba(242, 242, 247, 1);
  --b-g-grouped-secondary: rgba(255, 255, 255, 1);
  --b-g-grouped-tertiary: rgba(242, 242, 247, 1);
  --b-g-grouped-primary-dark-elevated: rgba(28, 28, 30, 1);
  --b-g-grouped-secondary-dark-elevated: rgba(44, 44, 46, 1);
  --b-g-grouped-tertiary-dark-elevated: rgba(58, 58, 60, 1);
  --b-g-grouped-primary-dark-base: rgba(0, 0, 0, 1);
  --b-g-grouped-secondary-dark-base: rgba(28, 28, 30, 1);
  --b-g-grouped-tertiary-dark-base: rgba(44, 44, 46, 1);
  --fills-primary: rgba(120, 120, 128, 0.20000000298023224);
  --fills-secondary: rgba(120, 120, 128, 0.1599999964237213);
  --fills-tertiary: rgba(118, 118, 128, 0.11999999731779099);
  --fills-quaternary: rgba(116, 116, 128, 0.07999999821186066);
  --fills-primary-dark: rgba(120, 120, 128, 0.36000001430511475);
  --fills-secondary-dark: rgba(120, 120, 128, 0.3199999928474426);
  --fills-tertiary-dark: rgba(118, 118, 128, 0.23999999463558197);
  --fills-quaternary-dark: rgba(116, 116, 128, 0.18000000715255737);
  --fills-vibrant-primary: rgba(127, 127, 127, 0.5);
  --fills-vibrant-secondary: rgba(127, 127, 127, 0.4000000059604645);
  --fills-vibrant-tertiary: rgba(127, 127, 127, 0.20000000298023224);
  --fills-vibrant-primary-dark: rgba(127, 127, 127, 0.5);
  --fills-vibrant-secondary-dark: rgba(127, 127, 127, 0.4000000059604645);
  --fills-vibrant-tertiary-dark: rgba(127, 127, 127, 0.20000000298023224);
  --separators-opaque: rgba(198, 198, 200, 1);
  --separators-non-opaque: rgba(60, 60, 67, 0.36000001430511475);
  --separators-opaque-dark: rgba(56, 56, 58, 1);
  --separators-non-opaque-dark: rgba(84, 84, 88, 0.6499999761581421);
  --materials-thick: rgba(153, 153, 153, 0.9700000286102295);
  --materials-regular: rgba(179, 179, 179, 0.8199999928474426);
  --materials-thin: rgba(166, 166, 166, 0.699999988079071);
  --materials-ultrathin: rgba(191, 191, 191, 0.4399999976158142);
  --materials-chrome: rgba(255, 255, 255, 0.75);
  --materials-thick-dark: rgba(37, 37, 37, 0.8999999761581421);
  --materials-regular-dark: rgba(37, 37, 37, 0.8199999928474426);
  --materials-thin-dark: rgba(37, 37, 37, 0.699999988079071);
  --materials-ultrathin-dark: rgba(37, 37, 37, 0.550000011920929);
  --materials-chrome-dark: rgba(0, 0, 0, 0.75);
  --template-sheet-fill: rgba(204, 204, 204, 1);
  --template-component-fill: rgba(128, 128, 128, 0.30000001192092896);
  --template-subcomponent-fill: rgba(0, 122, 255, 0.30000001192092896);
  --template-submcomponent-stroke: rgba(0, 122, 255, 1);
}
