.C_ELEMENT {
  position: relative;
  padding: 0px;
  margin: 0px;
}

/*MATERIALS*/
$material-presets: (
  M_ULTRATHINLIGHT: (
    245,
    245,
    245,
    0.4,
  ),
  M_THINLIGHT: (
    245,
    245,
    245,
    0.6,
  ),
  M_REGULARLIGHT: (
    245,
    245,
    245,
    0.8,
  ),
  M_THICKLIGHT: (
    245,
    245,
    245,
    0.95,
  ),
  M_ULTRATHINDARK: (
    45,
    45,
    45,
    0.4,
  ),
  M_THINDARK: (
    45,
    45,
    45,
    0.6,
  ),
  M_REGULARDARK: (
    45,
    45,
    45,
    0.8,
  ),
  M_THICKDARK: (
    45,
    45,
    45,
    0.95,
  ),
);

@mixin material-presets($preset) {
  $values: map-get($material-presets, $preset);
  backdrop-filter: blur(50px) saturate(1.5);
  background-color: rgba(
    nth($values, 1),
    nth($values, 2),
    nth($values, 3),
    calc(nth($values, 4) * 0.9)
  );
}

/*APPICON*/
.C_ELEMENT {
  &.APPICON {
    z-index: 1;
    &.hold {
      pointer-events: none !important;

      p.STRING {
        animation: hidepstring 0.2s forwards;
      }
      @keyframes hidepstring {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      img.ICON {
        filter: brightness(1) !important;
        transform: scale(1.2);
      }
    }
    position: absolute;
    width: var(--icon-size);
    height: calc(var(--icon-size) + 20px);
    &:not(#pages.scrollHelper .APPICON) {
      &.anim {
        transition: var(--basic-animation);
      }
      left: 0px;
      top: 0px;
      body.appinfoview & {
        z-index: 11;
      }
    }

    /*filter: drop-shadow(0px 0.5px 2px rgb(0, 0, 0, 0.25));*/
    & > img.ICON {
      -webkit-mask: url(../assets/drawable/frame.svg) center/100% 100% no-repeat;
      mask: url(../assets/drawable/frame.svg) center/100% 100% no-repeat;
      position: absolute;
      left: 0px;
      width: var(--icon-size);
      height: var(--icon-size);
      background: white var(--background);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0px 0px 10px black;
      &.active {
        filter: brightness(0.6);
        animation: iconhover 0.5s 0.1s ease-in forwards;
      }
      &:not(.active).cancelled {
        transition: filter 0.5;
        filter: brightness(1);
        animation: iconnotactivefade 0.5s;
        @keyframes iconnotactivefade {
          from {
            filter: brightness(0.6);
          }
          to {
            filter: brightness(1);
          }
        }
      }

      &.info {
        z-index: 11;
        animation: iconinfo 0.3s 0.1s cubic-bezier(0.95, 4, 0.2, 1) forwards;
      }
      @keyframes iconhover {
        0% {
          transform: scale(1);
        }
        39% {
          filter: brightness(0.6);
        }
        87% {
          filter: brightness(1);
        }
        100% {
          transform: scale(1.2);
          filter: brightness(1);
        }
      }
      @keyframes iconinfo {
        0% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1.15);
        }
      }
      @keyframes iconinfoexit {
        0% {
          transform: scale(1.15);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    & > P.STRING {
      transition: 0.5s;
      opacity: 1;
      padding: 0px;
      margin: 0px;
      position: absolute;
      bottom: 0px;
      max-width: var(--icon-size);
      left: 50%;
      transform: translateX(-50%);
      color: white;
      text-overflow: ellipsis;
      font-size: 12px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      font-weight: 350;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    #dock & > P.STRING {
      display: none;
    }
  }
  &.APPINFOTRANSLUCENTLAYER {
    body.TABLET_VIEW & {
      --backdrop-filter: none !important;
      --background-color: rgb(0, 0, 0, 0.2) !important;
    }

    $layer-presets: (
      LAYER_DARK: (
        19,
        10,
        19,
        0.3,
      ),
      LAYER_LIGHT: (
        245,
        245,
        245,
        0.6,
      ),
    );

    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    animation: aitl_enter 0.2s 0.1s ease-out forwards;
    --backdrop-filter: blur(11px) saturate(1.2);
    --background-color: rgba(19, 19, 38, 0.3);

    /*
    @media (prefers-color-scheme: light) {
      & {
        --background-color: rgba(3, 3, 3, 0.3);
      }
    }
    @media (prefers-color-scheme: dark) {
      & {
      
      }
    }
*/
    @keyframes aitl_enter {
      from {
        backdrop-filter: blur(0px) saturate(1);
        background: transparent;
      }
      to {
        backdrop-filter: var(--backdrop-filter);
        background-color: var(--background-color);
      }
    }
    @keyframes aitl_exit {
      from {
        backdrop-filter: var(--backdrop-filter);
        background-color: var(--background-color);
      }
      to {
        backdrop-filter: blur(0px) saturate(1);
        background: transparent;
      }
    }
  }
  &.APPINFOCONTEXTMENU {
    width: 228px;
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(50px) saturate(2);
    border-radius: 12px !important;
    overflow: hidden;
    color: rgb(black, 0.9);
    --scale: 1;
    --translate: 0px, 0px;
    transform: scale(var(--scale)) translate(var(--translate));
    background: rgb(250, 250, 250, 0.8);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    @media (prefers-color-scheme: dark) {
      & {
        background: rgb(37, 37, 37, 0.8);
        color: rgb(white, 0.9);
      }
    }
    &.open {
      animation: appinfocontextmenuopen var(--jumpanim) 0.4s;
      @keyframes appinfocontextmenuopen {
        0% {
          transform: scale(0);
          opacity: 0;
        }
        10% {
          transform: scale(0);
          opacity: 0;
        }
        100% {
          transform: scale(var(--scale)) translate(var(--translate));
          opacity: 1;
        }
      }
    }
    &.close {
      animation: appinfocontextmenuclose var(--jumpanim) 0.3s forwards;
      @keyframes appinfocontextmenuclose {
        from {
          transform: scale(var(--scale)) translate(var(--translate));
          opacity: 1;
        }
        to {
          transform: scale(0) translate(var(--translate));
          opacity: 0;
        }
      }
    }
    body.TABLET_VIEW & {
      width: 250px;
    }
    div.APPINFOCONTEXTMENUITEM {
      transition: 0.5s;
      &:active,
      &.active {
        transition: 0s;
        background: rgb(255, 255, 255, 0.1) !important;
        box-shadow: none !important;
        @media (prefers-color-scheme: light) {
          & {
            background: rgb(0, 0, 0, 0.1) !important;
          }
        }
      }
      &.s {
        transition: 0s !important;
      }
      p.APPINFOCONTEXTMENUITEMTITLE {
        &.accent {
          color: var(--colors-red);
        }
        @media (prefers-color-scheme: dark) {
          &.accent {
            color: var(--colors-red-dark);
          }
        }
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
      p.APPINFOCONTEXTMENUITEM {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
      width: 100%;
      height: 44px;

      box-shadow: inset 0px -1px 0px rgb(255, 255, 255, 0.1) !important;
      @media (prefers-color-scheme: light) {
        & {
          box-shadow: inset 0px -1px 0px rgb(0, 0, 0, 0.1) !important;
        }
      }
      &:last-child {
        box-shadow: none !important;
      }
    }
  }
}

body {
  &.TABLET_VIEW #innerapp {
    transform: none !important;
  }
}

body > div.C_ELEMENT.APPICON > P.STRING {
  display: none;
}
/*
.C_ELEMENT.APPINFOTRANSLUCENTLAYER {
  backdrop-filter: none !important;
  opacity: 0;
}
*/
