:root {
  --icon-size: 60px;

  --window-inset-left: 0px;
  --window-inset-top: 0px;
  --window-inset-right: 0px;
  --window-inset-bottom: 0px;

  @media (prefers-color-scheme: light) {
    --accent: var(--colors-blue);
  }
  @media (prefers-color-scheme: dark) {
    --accent: var(--colors-blue-dark);
  }
}
* {
  user-select: none;
  user-drag: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
body {
  .theme-b {
    background: #447;
    color: #bbd;
  }
  @media (prefers-color-scheme: light) {
    #dock,
    #dockBg {
      // @include material-presets(M_ULTRATHINLIGHT);
    }
  }
  @media (prefers-color-scheme: dark) {
    #dock,
    #dockBg {
      //  @include material-presets(M_ULTRATHINDARK);
    }
  }
}

body {
  & #dock {
    position: absolute;
    left: 0px;
    width: 100px;
    height: 100px;
    z-index: 5;
  }
  #pages-wrapper {
    display: block;
    height: calc(100% - 100px);
    height: 100%;
    min-height: 575px;
    overflow: hidden;
  }
  #pages {
    will-change: transform !important;
    &.scrollHelper {
      will-change: transform;
    }
    position: relative;
    left: 0px;
    top: 0px;
    display: block;
    width: max-content;
    float: left;
    height: 100% !important;
    & div.C_ELEMENT.PAGEGRID {
      float: left;
      position: relative;
      display: inline-block;
      width: var(--screen-width);
      height: 100%;
      scroll-snap-align: center;
    }

    /* snap */
    scroll-snap-type: x mandatory;
  }
  &.nestedDock {
    & #dock {
      background: transparent !important;
      backdrop-filter: unset !important;
      mask: none !important;
    }
    #dockBg {
      display: block !important;
    }

    &.TABLET_VIEW {
      #dock {
        bottom: 10px;
      }
      #dockBg {
        height: 114px;
      }
    }
    &:not(.TABLET_VIEW) {
      #dock {
        bottom: 0px !important;
      }
    }
  }
  & #dockBg {
    display: none;
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 100px;
    z-index: 4;
  }

  &.TABLET_VIEW {
    --screenradius: 26px;
    --homepage-grid-x: 5;
    --homepage-grid-y: 6;

    @media (orientation: landscape) {
      :root {
        --homepage-grid-x: 6;
        --homepage-grid-y: 5;
      }
    }
    &.squircle #dock {
      --squircle-radius: 20px;
      mask-image: paint(squircle);
    }
    #dock {
      bottom: calc(20px + var(--window-inset-bottom));
      border-radius: 28px;
      height: 94px;
      left: 50%;
      min-width: 325px;
      transform: translateX(-50%);
    }
    #pages {
      height: calc(100% - 192px);
    }
  }
  &:not(.TABLET_VIEW) {
    --screenradius: 56px;
    --homepage-grid-x: 4;
    --homepage-grid-y: 6;

    &.squircle #dock {
      --squircle-radius: calc(var(--screenradius) - 12px);
      mask-image: paint(squircle);
    }
    #dock {
      bottom: calc(12px + var(--window-inset-bottom));
      left: 12px;
      width: calc(100% - 24px);
      height: 98px;
      border-radius: calc(var(--screenradius) - 12px);
    }
    #pages {
      height: calc(100% - 192px);
    }
  }
}
/*
*{
  filter: none !important;
  backdrop-filter:  none !important;
}
#system_wallpaper{
display: none;
}*/

#innerapp {
  body.appinfoview & {
    transition: 0.2s 0.1s ease-out;
    transform: scale(0.96);
  }
  body:not(.appinfoview) & {
    transition: 0.2s ease-in-out;
    transform: scale(1);
  }
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#loader.hide {
  pointer-events: none;
  animation: 0.3s loaderhidefadeout forwards;
  @keyframes loaderhidefadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
